https://dataindependent.com/pandas/pandas-replace-values-pd-dataframe-replace/

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'X': [1, 2, 3, 4, 5],
                   'Y': [5, 6, 7, 8, 9],
                   'Z': ['z', 'y', 'x', 'w', 'v']})
df

   X  Y  Z
0  1  5  z
1  2  6  y
2  3  7  x
3  4  8  w
4  5  9  v

In [3]:
df.replace(to_replace={'X': {5: 50}}, value=None)


# df.replace(to_replace={'COLUMN NAME': {GIVEN VALUE: REPLACED VALUE}}, value=None)

    X  Y  Z
0   1  5  z
1   2  6  y
2   3  7  x
3   4  8  w
4  50  9  v